# K-Means

In [1]:
!pip install kneed

Requirement already satisfied: kneed in c:\programdata\anaconda3\lib\site-packages (0.7.0)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from kneed) (1.7.1)
Requirement already satisfied: numpy>=1.14.2 in c:\programdata\anaconda3\lib\site-packages (from kneed) (1.20.3)
Requirement already satisfied: matplotlib in c:\programdata\anaconda3\lib\site-packages (from kneed) (3.4.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->kneed) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->kneed) (2.8.2)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->kneed) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->kneed) (1.3.1)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib->kneed) (8.4.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib->kneed) (1.16.0)

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import datetime

df = pd.read_csv('../all_games.csv', encoding='utf-8')
df.head()

,name,platform,release_date,summary,meta_score,user_review
0,The Legend of Zelda: Ocarina of Time,Nintendo 64,"November 23, 1998","As a young boy, Link is tricked by Ganondorf, ...",99,9.1
1,Tony Hawk's Pro Skater 2,PlayStation,"September 20, 2000",As most major publishers' development efforts ...,98,7.4
2,Grand Theft Auto IV,PlayStation 3,"April 29, 2008",[Metacritic's 2008 PS3 Game of the Year; Also ...,98,7.7
3,SoulCalibur,Dreamcast,"September 8, 1999","This is a tale of souls and swords, transcendi...",98,8.4
4,Grand Theft Auto IV,Xbox 360,"April 29, 2008",[Metacritic's 2008 Xbox 360 Game of the Year; ...,98,7.9

In [5]:
df[df['user_review']=='tbd']

df = df.drop(df[df['user_review'] == 'tbd'].index)
df['user_review'] = df['user_review'].astype(np.float)

C:\Users\LUCASP~1\AppData\Local\Temp/ipykernel_20004/3843590146.py:4: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  df['user_review'] = df['user_review'].astype(np.float)

In [7]:
df['release_date'] = pd.to_datetime(df['release_date'])

In [ ]:
df['year'] = df['release_date'].dt.year